@using System.Globalization
@model Genre

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">
    <h2>Back to main page</h2>
</a>

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@nameof(Genre)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.Encode(Model.Id.ToString().ToUpper())
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.Encode(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model!.Title))
        </dd>
    </dl>

</div>