@using System.Globalization

@inject ISongRepository songRepository;

@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Genres";
}

<p>
    <a asp-action="Create">Create new</a>
</p>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                References
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        if (Model is not null && Model.Any())
        {
            foreach (var item in Model)
            {
               <tbody>
               <tr>
                  <td>
                     <a asp-action="Details" asp-route-id="@item.Id">@Html.Encode(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Title))</a>
                  </td>

                  <td>
                     @Html.Encode((await songRepository.CountAsync(x => x.Genre.Id == item.Id)))
                  </td>

                  <td>
                     <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                     <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                     <a asp-action="Delete" asp-route-id="@item.Id" class="link-danger">Delete</a>   
                  </td>
               </tr>
                </tbody>
            }
        }
    }
</table>

@if (Model is null || !Model.Any()) {
    <h2>No data available</h2>
}