@using System.Globalization
@model IEnumerable<RecordLabel>

@{
    ViewData["Title"] = "Labels";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    @if (Model is not null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <a asp-controller="Labels" asp-action="Details" asp-route-id="@item.Id"> 
                            @Html.Encode(item.Id.ToString().ToUpper())
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                </tr>
            </tbody>
        }
    }
</table>