@model Artist;

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">
    <h2>Back to main page</h2>
</a>

<br />

<h1>Details</h1>

<div>
    <h4>@nameof(Artist)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.ArtistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(x => x.ArtistName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Label)
        </dt>

        <dd class="col-sm-10">
            @{
                if (Model?.Label is not null)
                {
                    <a asp-controller="Labels" asp-action="Details" asp-route-id="@Model!.Label.Id">
                        @Html.Encode(Model.Label.Name)
                    </a>
                }
                else
                {
                    <p class="text-danger">No Label</p>
                }
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Albums)
        </dt>

        @{
            if (Model!.Albums is null)
            {
                <dd class="col-sm-10">
                    @Html.Encode("No albums available")
                </dd>
            }
            else if (!Model!.Albums.Any())
            {
                <dd class="col-sm-10">
                    @Html.Encode("No albums available")
                </dd>
            }
        }
    </dl>

    <table class="table">
        @if (Model!.Albums is not null && Model.Albums.Any())
        {
            @foreach (var item in Model.Albums) 
            {
                <tbody>
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Albums" asp-route-id="@item.Id">
                                @Html.Encode(item.Title)
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>

</div>