@using AS91892.Data.Entities;
@model IEnumerable<Artist>

@{
    ViewData["Title"] = "Artists";
}

<p>
    <a asp-action="Create">Create new</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ArtistName)
                </td>
                <td>
                    @if (item.Label is null)
                    {
                        @Html.DisplayText("None")
                    }
                    else {
                        @Html.DisplayFor(model => item.Label.Name)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any()) {
    <h1>No items availible</h1>
}