@using AS91892.Data.Entities;
@model IEnumerable<Artist>

@{
    ViewData["Title"] = "Artists";
}

<p>
    <a asp-action="Create">Create new</a>
</p>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.Encode(item.Id).ToUpper()</a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.ArtistName)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any()) {
    <h1>No items available</h1>
}